
<div class="jumbotron">
  <div>
    <h1>November 2014 Trial</h1>
    <p>
    Delicious, nutrient-dense, paleo diet meals prepared by Chelsea with local, organic, ethically sourced ingredients, delivered to your home or office twice a week.
    </p>
    <a href="/about"><button type="button" class="btn btn-primary">Learn More »</button></a>
    <h2><span class="lead"><b id="users">{{users}}</b></span> spots left. Sign up by October 20.</h2>
    <button id="register-button" type="button" class="btn btn-primary">Register Now</button>
  </div>
</div>

<h2><span class="fa fa-calendar"> November 4 Delivery</span> <small>Selection open until midnight, November 2</small></h2>

<div class="row">
  <div class="col-md-6">
    <div class="items">
      <h3>Entrees <small><span class="count">0</span> / <span class="max">4</span></small></h3>
      <div id="entrees"></div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="items">
      <h3>Soups <small><span class="count">0</span> / <span class="max">2</span></small></h3>
      <div id="soups"></div>
    </div>

    <div class="items">
      <h3>Salads <small><span class="count">0</span> / <span class="max">2</span></small></h3>
      <div id="salads"></div>
    </div>
  </div>
</div>

<div class="text-center">
  <button id="order" type="button" class="btn btn-primary lead">Place Order</button>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Registration</h4>
      </div>

      <div class="modal-body">
        <ul class="nav nav-tabs" role="tablist">
          <li class="active"><a id="step1_link" href="#step1" role="tab" data-toggle="tab">Details</a></li>
          <li><a id="step2_link" href="#step2" role="tab" data-toggle="tab">Payment</a></li>
        </ul>
        <div class="tab-content">
          <div id="step1" class="tab-pane active">
            <form id="register">
              <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" class="form-control" />
              </div>

              <div class="form-group">
                <label for="phone">Phone:</label>
                <input type="text" id="phone" name="phone" class="form-control" />
              </div>

              <div class="form-group">
                <label for="address">Delivery Address:</label>
                <textarea name="address" class="form-control" placeholder="Home or office address where the meals should be delivered"></textarea>
              </div>

              <div class="form-group">
                <label for="notes">Notes/Allergies:</label>
                <textarea id="notes" name="notes" class="form-control" placeholder="e.g. Come to the 4th floor and leave the meals in the cooler at the reception desk.  I'm allergic to nuts."></textarea>
              </div>

              <input type="submit" style="position: absolute; left: -9999px" />
            </form>
          </div>
          <div id="step2" class="tab-pane">
            <div id="registered" class="alert alert-success" style="margin-top: 15px; display: none">
              <h2>Ok!  You're registered!</h2>
              <p>You can place your order on the homepage now for your first delivery.</p>
            </div>

            <div id="choose">
              <h2>Select a Payment Option</h2>

              <button id="bitcoin" type="button" class="btn btn-default" style="width: 100%">
                <span class="lead" style="margin-bottom: -20px">Bitcoin - $450</span><br />
                <small style="font-size: 18px">(need bitcoins?  try <a href="http://circle.com/" target="_blank">circle.com</a>)</small>
              </button>
              <br /><br />
              <button id="cash" type="button" class="btn btn-default" style="width: 100%">
                <span class="lead" style="margin-bottom: -20px">Cash - $480</span><br />
                <small style="font-size: 18px">(payable upon first delivery or in weekly installments)</small>
              </button>
            </div>

            <div id="pay_bitcoin" style="display: none">
              <div id="request" class="text-center">
                <h2></h2>
                <h4 id="address"></h4>
                <div id="qr" style="margin-left: 150px; margin-bottom: 15px;"></div>
                <p>Need to get some Bitcoins?  Try <a href="http://circle.com/" target="_blank">circle.com</a>. They take VISA.</p>
              </div>
            </div>

            <div id="pay_cash" style="display: none">
              <p>Please have cash ready for us on November 4th.  You can pay $480 up front or in weekly installments of $120 every Tuesday delivery day.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="next" class="btn btn-primary">Next</button>
        <button type="button" id="cancel" class="btn btn-default" style="display: none">Cancel</button>
        <button type="button" id="close" class="btn btn-primary" style="display: none" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="confirmation" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Confirm Order</h4>
      </div>

      <div class="modal-body">
        <div class="alert alert-danger" id="not_registered" style="display: none">
          Your email wasn't found.  You need to <a id="register_link" style="cursor: pointer">register</a> before you can order.
        </div>
        <div class="alert alert-warning" id="order_warning" style="display: none">
          You have selected <span id="warning_count"></span> out of 8 items.  We'll pick the rest for you.
        </div>
        <div class="alert alert-success" id="order_placed" style="display: none">
          <h2>Thanks! Your order has been placed!</h2>
          <p>Selection for the November 7 delivery will open on November 3 so remember to come back then.</p>
        </div>
        <ul id="list"></ul>
        <form id="confirm_form">
          <div class="form-group">
            <label for="email">Your Email:</label>
            <input type="text" id="order_email" name="email" class="form-control" />
          </div>
          <input type="submit" style="position: absolute; left: -9999px" />
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="order_cancel" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" id="order_confirm" class="btn btn-primary">Confirm</button>
        <button type="button" id="order_close" class="btn btn-primary" data-dismiss="modal" style="display: none">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="item panel panel-default" style="display: none">
  <div class="panel-heading">
    <div class="grayscale img pull-left"></div>
    <span class="name"></span>
  </div>
  <div class="panel-body">
    <div class="text-center pull-right">
      <span class="count lead">0</span><br />
      <button type="button" class="btn btn-default minus"><span class="fa fa-minus"></span></button>
      <button type="button" class="btn btn-default plus"><span class="fa fa-plus"></span></button>
    </div>
    <p class="description"></p>
    <p>
      <span class="label label-default">Ingredients:</span> 
      <small class="ingredients"></small>
    </p>
  </div>
</div>
